<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Fav-icon -->
  <link rel="icon" href="./images/fav-icon/hotel-fav-icon.png" type="image/png">

  <title>Hotel MIS | Login</title>

  <!-- Bootstrap core CSS -->

  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="css/custom.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/maps/jquery-jvectormap-2.0.3.css" />
  <link href="css/icheck/flat/green.css" rel="stylesheet" />
  <link href="css/floatexamples.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="css/login.css">

  <!-- Modal styling -->
  <link rel="stylesheet" href="css/modal.css">

  <script src="js/assets/jquery.min.js"></script>
  <script src="js/assets/nprogress.js"></script>
  <script type="text/javascript" src="js/assets/apexcharts.js"></script>

  <!-- International Tel Input -->
  <link rel="stylesheet" href="js/assets/International Tel/css/intlTelInput.css">

  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Vue JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <!-- Vue Session -->
  <script src="https://cdn.jsdelivr.net/npm/vue-session@1.0.0/index.unpkg.js"></script>
  <style>
    .inputinvalidField {
      color: #f44336;
    }
  </style>

</head>

<body class="login-body">

  <div class="login-wrapper" id="loginVueApp" >
    <div class="login-container" style="display: none;">
      <div class="login-card">
        <section>
          <div>
            <form>
              <h1 class="login-h1 text-color">Login</h1>
              <!-- Error message -->
              <p style="text-align: center;" :class="{'displayNone':invalidLoginAlert}" id="dangerAlert"
                class="alert alert-danger text-color-white" v-html="error"></p>
              <!-- Error message -->
              
              <!-- Email -->
              <div class="form-group">
                <label for="inputEmail" class="text-color" :class="{inputinvalidField: validEmailLogin}">Email</label>
                <div class="input-icon input-icon-right">
                  <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" v-model="email" v-on:keyup="keyUpEmailLogin">
                  <i class="fa fa-user fa-lg user-icon"></i>
                </div>
              </div>
              <!-- Email -->

              <!-- Password -->
              <div class="form-group">
                <label for="inputPassword" class="text-color" :class="{inputinvalidField: validPasswordLogin}">Password</label>
                <div class="input-icon input-icon-right">
                  <input type="password" class="form-control input-password" id="inputPassword" placeholder="Password" v-model="password" v-on:keyup="keyUpPasswordLogin">
                  <i class="fa fa-lock fa-lg lock-icon"></i>
                </div>
                <div class="form-group text-align-right">
                  <button type="button" class="btn btn-show-hide-password" onclick="showHidePassword()">show</button>
                </div>
              </div>
              <!-- Password -->

              <!-- Login Button & Loader -->
              <div id="spinnerId" :class="{'displayNone': loading}">
                <div class="spinner-container">
                  <img src="./images/horizontal-loader.gif" alt="loading data" class="spinner">
                </div>
              </div>

              <div :class="{'displayNone': removeloginBtns}">
                <div class="form-group login-btn-container flex-space-between">
                  <button type="button" class="btn btn-primary login-btn" @click="onClickLoginBtn" data-login-type="customer" style="margin-right: 1em;">
                    <span>Guest Login</span>
                  </button>
                  <button type="button" class="btn btn-primary login-btn" @click="onClickLoginBtn" data-login-type="employee">
                    <span>Employee Login</span>
                  </button>
                </div>
              </div>
              <div class="text-align-right" style="padding-top: 1em">
                <button type="button" class="btn btn-sign-up btn-warning" data-toggle="modal" data-target="#addCustomer">sign up</button>
              </div>
              <!-- Login Button & Loader -->
            </form>
          </div>
        
        </section>
      </div>
    </div>

    <!-- Modals -->
    <!-- add customer -->
    <div class="modal fade" id="addCustomer" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sign Up</h4>
          </div>
          <div class="modal-body">
            <!-- Error message -->
            <p style="text-align: center;" :class="{'displayNone':invalidCustomerDetails}" id="dangerAlert"
              class="alert alert-danger text-color-white" v-html="error"></p>
            <!-- Error message -->
            <form>
    
              <div class="container">
                <div class="row">
                  <!-- Customer Name -->
                  <div class="form-group col-md-12" id="addCustomerName">
                    <label for="customer_name" :class="{inputinvalidField: validCustomerName}">Guest Name: <span
                        class="modal-required-input">*</span></label>
                    <input type="text" id="customer_name" class="form-control" placeholder="Ali Hamza"
                      :class="{invalidInput: validCustomerName}" v-model="customerName" v-on:keyup="keyUpCustomerName">
                  </div>
                  <!-- Customer Name -->
    
                  <!-- Customer E-mail -->
                  <div class="form-group col-md-6" id="addCustomerEmail">
                    <label for="customer_email" :class="{inputinvalidField: validCustomerEmail}">Email: <span
                        class="modal-required-input">*</span> </label>
                    <input type="email" id="customer_email" class="form-control" placeholder="abc@gmail.com"
                      :class="{invalidInput: validCustomerEmail}" v-model="customerEmail" v-on:keyup="keyUpCustomerEmail">
                  </div>
                  <!-- Customer E-mail -->
    
                  <!-- Customer Password -->
                  <div class="form-group col-md-6" id="addCustomerPassword">
                    <label for="customer_password" :class="{inputinvalidField: validCustomerPassword}">Password: <span
                        class="modal-required-input">*</span> </label>
                    <div class="password-container">
                      <input type="password" id="customer_password" class="form-control password_input"
                        placeholder="password" :class="{invalidInput: validCustomerPassword}" v-model="customerPassword"
                        v-on:keyup="keyUpCustomerPassword">
                      <i class="fa fa-eye password-eye-icon" aria-hidden="true" id="showHidePassword"
                        onclick="togglePasswordVisibility()"></i>
                    </div>
                  </div>
                  <!-- Customer Password -->
    
                  <!-- Customer Mobile -->
                  <div class="form-group col-md-6" id="addCustomerMobile">
                    <label for="customer_mobile" :class="{inputinvalidField: validCustomerMobile}">Mobile #: <span
                        class="modal-required-input">*</span> </label>
                    <input type="tel" id="customer_mobile" class="form-control" placeholder="03331234567"
                      :class="{invalidInput: validCustomerMobile}" v-model="customerMobile"
                      v-on:keyup="keyUpCustomerMobile">
                  </div>
                  <!-- Customer Mobile -->
    
                  <!-- Customer CNIC -->
                  <div class="form-group col-md-6" id="addCustomerCnic">
                    <label for="employee_email" :class="{inputinvalidField: validCustomerCnic}">CNIC: <span
                        class="modal-required-input">*</span> </label>
                    <input type="number" id="customer_cnic" class="form-control" placeholder="3720112345678"
                      :class="{invalidInput: validCustomerCnic}" v-model="customerCnic" v-on:keyup="keyUpCustomerCnic">
                  </div>
                  <!-- Customer CNIC -->
    
                  <!-- Customer Country -->
                  <div class="form-group col-md-12" id="addCustomerCountry">
                    <label for="customer_country" :class="{inputinvalidField: validCustomerCountry}">Country: <span
                        class="modal-required-input">*</span> </label>
                    <select id="customer_country" class="form-control" v-model="selectedCustomerCountry"
                      :class="{invalidInput: validCustomerCountry}" @change="viewCitiesOfSelectedCountry"
                      @focus="onFocusCustomerCountry">
                      <option value="" disabled selected>Select Country</option>
                      <option v-for="data in countryList" :value="data.id">
                        {{ data.name }}
                      </option>
                    </select>
                  </div>
                  <!-- Customer Country -->
    
                  <!-- Customer Cities Of Selected Country -->
                  <div class="form-group col-md-12" id="addCustomerCity">
                    <label for="customer_city" :class="{inputinvalidField: validCustomerCity}">City: <span
                        class="modal-required-input">*</span> </label>
                    <select id="customer_city" class="form-control" v-model="selectedCustomerCity"
                      :class="{invalidInput: validCustomerCity}" @focus="onFocusCustomerCity">
                      <option value="" disabled selected>Select City</option>
                      <option v-for="data in cityList" :value="data.id">
                        {{ data.name }}
                      </option>
                    </select>
                  </div>
                  <!-- Customer Cities Of Selected Country -->
    
                  <!-- Customer Address -->
                  <div class="form-group col-md-12" id="addCustomerAddress">
                    <label for="customer_address" :class="{inputinvalidField: validCustomerAddress}">Address: <span
                        class="modal-required-input">*</span></label>
                    <textarea id="customer_address" rows="2" class="form-control resize-vertical-only"
                      placeholder="1020 Street" :class="{invalidInput: validCustomerAddress}" v-model="customerAddress"
                      v-on:keyup="keyUpCustomerAddress"></textarea>
                  </div>
                  <!-- Customer Address -->
                </div>
              </div>
    
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary add-customer-modal-btn" @click="onClickAddCustomerBtn">Sign
              Up</button>
          </div>
        </div>
    
      </div>
    </div>
    <!-- add customer -->
    <!-- Modals -->


  </div>

  <script src="js/assets/bootstrap.min.js"></script>

  <!-- International Tel Input -->
  <script src="js/assets/International Tel/js/intlTelInput.js"></script>
  <script src="js/assets/International Tel/js/intlTelInput-jquery.min.js"></script>

  <script src="js/vue/common.js"></script>
  <!-- Common System Configuration Functions -->
  <script src="js/vue/system-configuration/common/common-actions.js"></script>
  <script src="js/vue/login.js"></script>

</body>

</html>